@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 34 3% 100%;
    --foreground: 350 20% 18%;
    --card: 34 3% 100%;
    --card-foreground: 350 20% 18%;
    --popover: 34 3% 100%;
    --popover-foreground: 350 20% 18%;
    --primary: 330 20% 25%;
    --primary-foreground: 34 3% 100%;
    --secondary: 350 7% 38%;
    --secondary-foreground: 34 3% 100%;
    --muted: 350 7% 38%;
    --muted-foreground: 34 3% 100%;
    --accent: 330 20% 25%;
    --accent-foreground: 34 3% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 350 7% 38%;
    --input: 350 7% 38%;
    --ring: 350 20% 18%;
    --radius: 0.5rem;
    --custom-gray: 0 0% 35.3%; /* #685D5E */
  }

  .dark {
    --background: 350 20% 18%;
    --foreground: 34 3% 100%;
    --card: 350 20% 18%;
    --card-foreground: 34 3% 100%;
    --popover: 350 20% 18%;
    --popover-foreground: 34 3% 100%;
    --primary: 34 3% 100%;
    --primary-foreground: 350 20% 18%;
    --secondary: 330 20% 25%;
    --secondary-foreground: 34 3% 100%;
    --muted: 330 20% 25%;
    --muted-foreground: 34 3% 100%;
    --accent: 350 7% 38%;
    --accent-foreground: 34 3% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 330 20% 25%;
    --input: 330 20% 25%;
    --ring: 34 3% 100%;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-family: "Poppins", sans-serif;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
